node_modules/
.venv/
venv/
__pycache__/
*.py[cod]
.next/
.env
*.egg-info/
dist/
build/
.DS_Store
*.log
.pytest_cache/
.ruff_cache/
apps/web/.turbo/
*.zip
*.db
*.db-journal
baykus.db
apps/web/tsconfig.tsbuildinfo

apps/api/uploads/*
!apps/api/uploads/.gitkeep
!apps/api/uploads/designs/
apps/api/uploads/designs/*
!apps/api/uploads/designs/.gitkeep

apps/api/backups/*
!apps/api/backups/.gitkeep
